<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${site.title}, content = ~{::content}, head = null)}">
<th:block th:fragment="content">
  <div>
    <h2 class="mb-5 !text-sm text-gray-400 !font-bold dark:text-gray-300">随笔<i class="ri-quill-pen-line"></i></h2>
    <a th:each="post, iterStat : ${posts.items}" th:href="@{${post.status.permalink}}"
      class="flex gap-3 post-card py-4 border-b border-gray-100 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-800/50 transition-colors rounded-md px-1 -mx-1"
      th:attr="style=|--delay:${iterStat.index * 0.05}s;|">
      <div th:if="${theme.config.layout.post_cover_set == 'open' and !#strings.isEmpty(post.spec.cover)}"
        class="overflow-hidden shrink-0 w-28 h-20 rounded-md">
        <img class="lazyload w-full h-full object-cover" style="border-radius: inherit;"
          th:src="${theme.config.layout.web_loading_img}" th:srcset="${theme.config.layout.web_loading_img}"
          th:data-srcset="|${thumbnail.gen(post.spec.cover, 's')} 400w|" sizes="(max-width: 1600px) 100vw, 1600px"
          th:alt="${post.spec.title}">
      </div>
      <div class="flex grow flex-col justify-between min-w-0">
        <div th:if="${theme.config.layout.post_time_set == 'open'}" th:data-date="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}" class="time text-xs text-zinc-400 mb-1"></div>
        <div th:unless="${theme.config.layout.post_time_set == 'open'}"
          th:text="${#dates.format(post.spec.publishTime,'MMMM dd, yyyy')}" class="text-xs text-zinc-400 mb-1"></div>
        <span class="font-medium hover:underline">
          <span th:if="${post.spec.pinned}" th:text="[置顶]" class="text-red-500"></span>
          <span th:text="${post.spec.title}"></span></span>
        <p class="text-xs text-gray-400 dark:text-gray-500 mt-1 line-clamp-2"
           th:text="${post.status.excerpt}"></p>
      </div>
    </a>
    <ul th:if="${posts.hasPrevious() || posts.hasNext()}" class="flex justify-between pt-2">
      <li th:if="${posts.hasNext() }"><a th:href="@{${posts.nextUrl}}"><span>下一页</span></a></li>
      <li th:if="${posts.hasPrevious() }"><a th:href="@{${posts.prevUrl}}"><span>上一页</span></a></li>
    </ul>
  </div>
</th:block>

</html>