<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = ${title} + ' - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}">
<th:block th:fragment="content">
    <h2 class="item-a">动态</h2>
    <div class="moment-content">
        <ul class="flex justify-start my-5">
            <li th:each="tag : ${tags}">
                <a class="!text-sky-400 bg-sky-100 rounded-sm mr-2 p-0.5 hover:underline dark:bg-sky-900 dark:!text-sky-500"
                    th:href="|/moments?tag=${tag.name}|"
                    th:classappend="${#lists.contains(param.tag, tag.name) ? 'active' : ''}">
                    <span th:text="|#${tag.name}(${tag.momentCount})|"></span>
                </a>
            </li>
        </ul>
        <div class="moment-box">
            <ul x-data="upvote('moment','moment.halo.run','moments')">
                <li th:each="moment,momentStat : ${moments.items}" th:with="content=${moment.spec.content}" class="py-5 info-hr post-card"
                th:attr="x-data=|{name:'${moment.metadata.name}', showComment: false}|, style=|--delay:${momentStat.index * 0.05}s;|">
                    <div class="flex items-center">
                        <a class="hover:underline"
                            th:with="authorPage=${#strings.append('/authors/',moment.owner?.name)}"
                            th:href="@{${authorPage}}"><img class="size-11 rounded-sm mr-1.5"
                                th:with="defaultAvatar=${#theme.assets('/images/logo.png')}, avatarUri=${#strings.defaultString(moment.owner?.avatar, defaultAvatar)}"
                                th:src="${avatarUri}" th:srcset="|${thumbnail.gen(avatarUri, 's')} 400w|"
                                th:alt="|@${moment.owner?.name}|" /></a>
                        <div class="flex flex-col justify-between">
                            <a class="hover:underline"
                                th:with="authorPage=${#strings.append('/authors/',moment.owner?.name)}"
                                th:href="@{${authorPage}}" th:text="${moment.owner?.displayName}"></a><span
                                th:if="${theme.config.layout.post_time_set == 'open'}"
                                th:data-date="${#temporals.format(moment.spec.releaseTime, 'yyyy-MM-dd')}"
                                class="text-xs ex-time text-zinc-400" tense="past"
                                data-view-component="true"></span><span
                                th:unless="${theme.config.layout.post_time_set == 'open'}"
                                th:text="${#temporals.format(moment.spec.releaseTime, 'MMMM dd, yyyy')}"
                                class="text-xs text-zinc-400" tense="past" data-view-component="true"></span>
                        </div>
                    </div>
                    <div th:if="${not #strings.isEmpty(content.html)}" th:utext="${content.html}" class="my-5"></div>
                    <div th:if="${not #lists.isEmpty(content.medium)}" class="medium-box">
                    <th:block th:if="${not #lists.isEmpty(content.medium)}" th:each="momentItem : ${content.medium}">
                            <div class="medium-inner">
                                <img class="lazyload medium-item-box" th:if="${momentItem.type.name == 'PHOTO'}"
                                    th:data-src="${momentItem?.url}" th:src="${theme.config.layout.web_loading_img}" srcset=""
                                    th:data-srcset="|${thumbnail.gen(momentItem?.url, 's')} 400w|"
                                    sizes="(max-width: 1600px) 100vw, 1600px" />
                                <video class="lazyload medium-item-box" th:if="${momentItem.type.name == 'VIDEO'}"
                                    th:src="${momentItem.url}"></video>
                                <audio class="lazyload medium-item-box" th:if="${momentItem.type.name == 'AUDIO'}"
                                    th:src="${momentItem.url}" controls="true"></audio>
                            </div>
                    </th:block>
                </div>
                    <div class="flex items-center gap-3">
                        <div class="justify-center cursor-pointer items-center text-sm text-gray-400 transition-all hover:text-red-600"
                            x-bind:class="{'text-red-500': upvoted(name)}" @click="handleUpvote(name)">
                            <i x-show="upvoted(name)" class="ri-heart-fill "></i>
                            <i x-show="!upvoted(name)" class="ri-heart-line"></i>
                            <span class="ml-0.5" th:attr="data-upvote-moment-name=${moment.metadata.name}"
                                th:text="${moment.stats.upvote}">
                            </span>
                        </div>

                        <div class="justify-center cursor-pointer items-center text-sm text-gray-400 transition-all hover:text-black dark:hover:text-gray-300"
                            x-on:click="showComment = !showComment">
                            <i class="ri-message-3-line"></i>
                            <span class="ml-0.5" th:text="${moment.stats.approvedComment}"> </span>
                        </div>
                    </div>
                    <template x-if="showComment">
                        <div class="mt-2">
                            <halo:comment group="moment.halo.run" kind="Moment" th:attr="name=${moment.metadata.name}"
                                colorScheme="'light'" />
                        </div>
                    </template>
                </li>
            </ul>
            <ul th:if="${moments.hasPrevious() || moments.hasNext()}" class="flex justify-between pt-2">
                <li th:if="${moments.hasNext() }"><a th:href="@{${moments.nextUrl}}"><span>下一页</span></a></li>
                <li th:if="${moments.hasPrevious() }"><a th:href="@{${moments.prevUrl}}"><span>上一页</span></a></li>
            </ul>
        </div>
    </div>
    <script>

    </script>
</th:block>

</html>